@import 'normalize'

:root {
  font-size: 20px;
}

//Resets
a {
  text-decoration: none;
}

ul, ol {
  margin: 0;
  padding: 0;
}

.header {
    background-color:  red;
}

.header__container {
  align-items:  center;
  display: flex;
  height: 200px;
  margin: 0 auto;
  width: 960px;
}

.header__logo {

}

.header__logo svg {
  fill: white;
    width: 125px;
}

.header__slogan {

}

.header__slogan h1 {
  color: white;
  font-family: impact;
  font-size: 2.8rem;
  padding-left: 20px;
  text-transform: uppercase;
  text-shadow: 3px 3px 0 black;
}

.nav {

}

.nav__container {
  margin: 0 auto;
  width: 960px;
}

//ul
.nav__items {
  display: flex;
  justify-content: space-between;
  list-style: none;

}

//li
.nav__link {
  color: red;
  display: block;
  font-family: roboto condensed;
  padding: 20px;
}

.nav__link:hover {
  background-color: red;
  color: white;


}

.feature__layer {
  background-image: url(img/wings.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 560px;

}



.feature__quote {
  max-width: 700px;
  text-align: center;
  transform: translateY(9rem);

}

.feature__highlight {
   background-color: white;
   box-shadow: 24px 0 0 0 white, -24px 0 0 0 white;
   display: inline;
   font-family: Impact;
   font-size: 2.5rem;
   padding: 12px 0;
   line-height: 3.5rem;



}

























// @import 'normalize'
//
// debug()
//   *
//     border 1px solid magenta
//
// debug()
//
// //colors
// blackout = #000
// bullsred = #f00
// fog = #e6e6e6
// //
//
// //font
// slab = 'roboto slab'
// condensed = 'roboto condensed'
// heavy = 'impact'
//
// //Resets
// ul, ol {
//   padding: 0;
//   margin: 0;
// }
//
// a {
//   text-decoration: none;
// }
//
// * {
//   box-sizing: border-box;
// }
//
// :root {
//   font-size: 20px;
// }
//
// body {
//   background-color: white;
//   line-height: 1.5
// }
//
// //Header layer
// .header {
//   background-color: bullsred;
//   }
//
// .header__container {
//     align-items: center;
//     display: flex;
//     height: 200px;
//     margin: 0 auto;
//     width: 960px;
//   }
//
// .header__logo {
//   fill: white;
// }
//
// .header__logo svg {
//   width: 100px;
// }
//
// .header__slogan {
//   color: white;
//   font-family: heavy;
//   font-size: 1.45rem;
//   margin-left: 20px;
//   text-shadow: 3px 3px 0 blackout;
//   text-transform: uppercase;
// }
//
// //.nav {}
//
// .nav__container {
//   margin: 0 auto;
//   width: 960px;
// }
//
// //ul
// .nav__items {
//   display: flex;
//   justify-content: space-between;
//   list-style: none;
// }
//
// .nav__link {
//   color: bullsred;
//   display: block;
//   font-family: condensed;
//   font-size: 1.25rem;
//   padding: .5rem;
// }
//
// .nav__link:hover {
//   background-color: bullsred;
//   color: white;
// }
