@import 'normalize'

slab = 'roboto slab'
condensed = 'roboto condensed'
heavy = 'impact'

* {
    //border: 1px solid magenta;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
  font-size: 20px;
}

body {
  font-family: 'roboto slab';
  line-height: 1.5;
}


//Resets
a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

ul, ol {
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 1rem;
}


//Pattern Selectors
[class*='__container'] {
  margin: 0 auto;
  max-width: 960px;
}

[class*='__heading'] {
  font-family: Impact;
  font-size: 2.6rem;
  padding: 2rem 0;
}

[class*='__columns'] {
  display: flex;
  padding-bottom: 40px;
}

[class*='__textbox'] {
  flex: 1;
  padding: 2rem;
}

[class*='__button'] {
  display: inline-block;
  background-color: red;
  color: white;
  margin-top: 1rem;
  text-align: center;
  padding: 8px;
}

[class*='__button']:hover {
  background-color: black;
  color: red;
}

.header {
  background-color: red;
}

.header__container {
  align-items: center;
  display: flex;
  height: 200px;
  margin: 0 auto;
  width: 960px;
}

.header__logo {
}

.header__logo svg {
  fill: white;
  width: 125px;
}

.header__slogan {

}

.header__slogan h1 {
  color: white;
  font-family: Impact;
  font-size: 2.8rem;
  padding-left: 20px;
  text-shadow: 3px 3px 0 black;
  text-transform: uppercase;
}

.nav {

}

.nav__container {
  margin: 0 auto;
  width: 960px;
}

.nav__items {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav__link {
  color: red;
  display: block;
  font-family: 'roboto condensed';
  padding: 20px;

}

.nav__link:hover {
  background-color: red;
  color: white;
}

.feature__layer {
  background-image: url(img/wings.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 560px;
}

.feature__quote {
  max-width: 700px;
  text-align: center;
  transform: translateY(9rem);
}

.feature__highlight {
  background-color: white;
  box-shadow: 24px 0 0 0 white, -24px 0 0 0 white;
  display: inline;
  font-family: Impact;
  font-size: 2.5rem;
  padding: 12px 0;
  line-height: 3.5rem;
}

.origins__layer {

}

.origins__textbox {
  padding-top: 0;
}

.origins__media {
  flex: 1;
}

.origins__media img {
  border: 1rem solid #e6e6e6;
  height: 100%;
  object-fit: cover;
}

.earlycareer__layer--bg {
  background-image: url(img/free-throw-line-dunk.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 0 3rem 0;
}

.earlycareer__container {
  width: 960px;
  padding-top: 100px;
  margin: 0 auto;
}

.earlycareer__heading {
  font-family: Impact;
  font-size: 2.6rem;
  color: white;
}

.earlycareer__column {
  display: flex;
  width: 50%;

}

.earlycareer__textbox {
  width: 50%;
  background-color: white;
  padding: 1rem 2rem;
  font-family: roboto slab;
}

.champs3__layer {

}

.champs3__banner {

}

.champs3__banner img {
  border: 1rem solid #e6e6e6;
  object-fit: cover;
  width: 100%;
  height: 350px;
}

.whitesox__layer {
  border: 1px solid black;
}

.whitesox__media {
  flex: 1;
}

.whitesox__media img {
  border: 1rem solid #e6e6e6;
  object-fit: cover;
}
