slab = 'roboto slab'
condensed = 'roboto condensed'
heavy = 'impact'

* {
    //border: 1px solid magenta;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
  font-size: 20px;
}

//Resets
a {
  text-decoration: none;
}

.header {
  background-color: red;
}

.header__container {
  align-items: center;
  display: flex;
  height: 200px;
  margin: 0 auto;
  width: 960px;
}

.header__logo {
}

.header__logo svg {
  fill: white;
  width: 125px;
}

.header__slogan {

}

.header__slogan h1 {
  color: white;
  font-family: Impact;
  font-size: 2.8rem;
  padding-left: 20px;
  text-shadow: 3px 3px 0 black;
  text-transform: uppercase;
}

.nav {

}

.nav__container {
  margin: 0 auto;
  width: 960px;
}

.nav__items {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav__link {
  color: red;
  display: block;
  font-family: 'roboto condensed';
  padding: 20px;

}

.nav__link:hover {
  background-color: red;
  color: white;
}
